/*@font-face {
  font-family: 'FontName';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('@/pathToTheFont/myFont.woff') format('woff'),
    url('@/pathToTheFont/myFont.woff2') format('woff2')
}*/